@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.mobile-team {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* background-image: linear-gradient(45deg, #8B5CF6, #EC4899); */
    background-color: #4e54c8;
    font-family:'Poppins','Montserrat', sans-serif;
  }
  

  .mobile-carousel {
    position: relative;
    width: 20rem;
    height: 23.5rem;
    perspective: 500px;
    transform-style: preserve-3d;
  }

  .mobile-card-container {
    position: absolute;
    width: 100%;
    height: 100%;
  }

.mobile-card{
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  border-radius: 1rem;
  color: #1F2937;
  text-align: center;
  background-color: white;
}

.mobile-role{
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

.mobile-name{
    color:#9CA3AF;
    font-size: 20px;
    margin-bottom: 15px;
}

.mobile-image{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 3px solid #4e54c8;
}

.mobile-contacts{
    display: flex;
    width: fit-content;
    margin: auto;
}

.mobile-icons{
    color: #4e54c8;
    margin: 0px 10px;
    font-size: 20px;
}

.mobile-nav-btn{
  font-size: 16px;
  width: 50%;
  align-items: center;
  justify-content: center;
  top: 90.5%;
  cursor: pointer;
}


